 <div class="row">
    <div class="col-md-12" ng-show="categories.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-categorie/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new categorie</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Categorie label EN&nbsp;</th>
        <th>Categorie label FR&nbsp;</th>
        <th>Categorie image path&nbsp;</th>
        <th>Actions&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in categories">
                <td>{{data.categorie_label}}</td>
                <td>{{data.categorie_label_fr}}</td>
                <td>{{data.categorie_image_path}}</td>
                <td><a href="#/edit-categorie/{{data.categorie_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="categories.length == 0">
        <div class="col-md-12">
            <h4>No categories found</h4>
        </div>
    </div>
</div>